body{
    font-family: sans-serif;
    background: linear-gradient(-45deg, #07A3B2, #D9ECC7);
}

#postar-ca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#6495ed;
	border-radius: 10px 20px 30px 40px;
}

#posts-list{
    display: flex;
    justify-content: center;
}

.info{
    display: inline-flex;
    justify-content: space-around;
}

.feed{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.posts{
	width: 400px;
	height:200px;
	background-color:#6495ed;
	border-radius: 10px 20px 30px 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    padding: 10px;
}

.post{
    background-color:aqua;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    justify-content: center;
}

#fotoPerfil{
    border-radius: 100px 100px 100px 100px;
    order: 1;
}

#pos-ca{
    order: 2;
}

#postar-btn{
    order: 3;
}